<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Eth Track</title>
    {% block head %} {% endblock %}
</head>

<div class="header">{% block title %}{% endblock %} - Eth Track</div>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<nav>
    <ul>
	<li><span>A nav item</span>
    </ul>
</nav>

<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %} {% block content %}{% endblock %}
</section>

</html>
