{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}DataTypes{% endblock %}</h1>
  {% if g.user %}
    <h1>You are logged in!</h1>
  {% endif %}
{% endblock %}

{% block content %}
  {% for type in datatypes %}
    <article class="post">
      <header>
        <div>
          <h1>{{ type['title'] }}</h1>
          <div class="about">Units: {{ type['units'] }} description: {{ type['description'] }}</div>
        </div>
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
